
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: #20273d;
}
  li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:bisque;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 20px;
    width: 100%;
    background-color: #02101e;

}

    

.nav-logo{
    cursor:pointer;
    height: 40px;
    width:60px;
}
.nav-links{
    list-style:none;
    background-color: #02101e;

}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    background-color: #02101e;
   
    
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    background-color: #02101e;
}
.nav-links li a:hover{
    color:chocolate;
}

button{
    background-color: rgba(192, 146, 29, 0.8);
    padding: 9px 20px;
    border-radius: 50px;
    border:0px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    margin:0px;

}

button:hover{
    color: rgba(230, 107, 13, 0.8);
}
.cta{
    background-color: #02101e;
}